<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head('Client')"></head>
  <body>
     <nav th:replace="fragments.html :: navbar"></nav>
     
     <div th:replace="fragments :: title(page_title=${client.client_id})" />
     
     <div class="container">
     	<div class="btn-group">
	     	<a class="btn btn-primary" th:href="@{{id}/edit(id=${client.client_id})}">Edit</a>
		    <a class="btn btn-primary" th:href="@{{id}/delete(id=${client.client_id})}">Delete</a>
	    </div>
	 </div>
	 
	 <div class="container">
	    <form method="post" th:action="@{~/admin/client/{id}/update(id=${client.client_id})}" th:object="${client}">
	            
		    <table class="table">
		    	<tr>
		    		<th scope="row">client_id</th>
		    		<td th:text="${client.client_id}" />
		    	</tr>
		    	<tr>
		    		<th scope="row">resource_ids</th>
		    		<td th:text="${client.resource_ids}" />
		    	</tr>
		    	<tr>
		     		<th scope="row">client_secret</th>
		     		<td th:text="${client.client_secret}"></td>
		     	</tr>
		    	<tr>
		     		<th scope="row">scope</th>
		     		<td th:text="${client.scope}" />
		     	</tr>
		     	<tr>
		     		<th scope="row">authorized_grant_types</th>
		     		<td th:text="${client.authorized_grant_types}"></td>
		     	</tr>
		     	<tr>
		     		<th scope="row">web_server_redirect_uri</th>
		     		<td th:text="${client.web_server_redirect_uri}"></td>
		     	</tr>
		     	<tr>
		     		<th scope="col">authorities</th>
		     		<td th:text="${client.authorities}"></td>
		     	</tr>
		     	<tr>
		     		<th scope="col">access_token_validity</th>
		     		<td th:text="${client.access_token_validity}"></td>
		     	</tr>
		     	<tr>
		     		<th scope="col">refresh_token_validity</th>
		     		<td th:text="${client.refresh_token_validity}"></td>
		     	</tr>
		     	<tr>
		     		<th scope="col">additional_information</th>
		     		<td th:text="${client.additional_information}"></td>
		     	</tr>
		     	<tr>
		     		<th scope="col">autoapprove</th>
		     		<td th:text="${client.autoapprove}"></td>
		     	</tr>
		     </table>
	     
	     </form>
     </div>
	</body>
</html>