<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Manage</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" crossorigin="anonymous"/>
  </head>
  <body>
     <div class="container user-management">
     	<div th:if="${error != null}" class="alert alert-error" role="alert">
	   		<h4>Error:</h4>
	    	<span th:text="${error}" />
	    </div>
	    
		<div th:if="${success != null}" class="alert alert-success" role="alert">
	   		<h4>Success:</h4>
	    	<span th:text="${success}" />
	    </div>
	   	<p class="text-center"><img class="img-fluid" th:src="@{https://app.deadbeef.cafe/avatar/face/{user}(user=${#authentication.getPrincipal().getUsername()})}" /></p>
      	<a class="btn btn-lg btn-block btn-primary" th:href="@{/admin}" sec:authorize="hasRole('ROLE_ADMIN')">Admin</a>
		<a class="btn btn-lg btn-block btn-primary" th:href="@{/user/change-password}">Change Password</a>
		<a class="btn btn-lg btn-block btn-primary" th:href="@{/user/me}">View Token</a>
		<a class="btn btn-lg btn-block btn-primary" th:href="@{/logout}">Logout</a>
	</div>
</body>
</html>