<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head('Client List')"></head>
  <body>
  	<nav th:replace="fragments.html :: navbar"></nav>
    
    <div th:replace="fragments :: title(page_title='Client List')" />
    
    <div class="container">
    	<div class="btn-group">
    		<a class="btn btn-primary" th:href="@{/admin/new-client}">New</a>
     	</div>
    </div>
    
    <div class="container">
	    <div th:if="${client_secret != null}" class="alert alert-success" role="alert">
	   		<h4>Created Client</h4>
	    	<hr />
	    	Client secret set to: <code><span th:text="${client_secret}">[secret]</span></code>. Make sure you make a note of this, it won't be shown again and it is not possible to retrieve it from the server.
	    </div>
     
	     <table class="table">
	     	<thead class="thead-dark">
	     		<tr>
		     		<th scope="col">client_id</th>
		     		<th scope="col">scope</th>
		     		<th scope="col">authorized_grant_types</th>
		     		<th scope="col">autoapprove</th>
		     		<th scope="col"></th>
		     	</tr>
	     	</thead>
	     	<tbody>
	     		<tr th:each="client : ${clients}">
	            	<td scope="row" th:text="${client.client_id}"></td>
	                <td th:text="${client.scope}"></td>
	                <td th:text="${client.authorized_grant_types}"></td>
	                <td th:text="${client.autoapprove}"></td>
	                <td align="right">
		                <div class="dropdown">
						  <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Actions
						  </button>
						  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			                <a class="dropdown-item" th:href="@{client/{id}(id=${client.client_id})}">More Info</a>
			                <a class="dropdown-item" th:href="@{client/{id}/edit(id=${client.client_id})}">Edit</a>
			                <a class="dropdown-item" th:href="@{client/{id}/delete(id=${client.client_id})}">Delete</a>
						  </div>
						</div>
	                </td>
	           </tr>
	    	</tbody>
	    </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>