<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head('New User')"></head>
  <body>
  
  	<nav th:replace="fragments.html :: navbar"></nav>
    
    <h1 th:replace="fragments :: title(page_title='New User')" />
    
    <div class="container">
	    <form method="post" th:action="@{/admin/user}" th:object="${user}">	    
		    <table class="table">
		    	<tr>
		    		<th scope="row"><label th:for="username" th:text="'Username'"></label></th>
		    		<td><input class="form-control" type="text" th:field="*{username}" id="username" placeholder="Username"></td>
		    	</tr>
		     	<tr>
		     		<th scope="row"><label th:for="enabled" th:text="'Account Enabled'"></label></th>
		     		<td><input type="checkbox" class="form-check-input" th:field="*{enabled}" id="enabled"></td>
		     	</tr>
		     </table>
		     <button class="btn btn-primary" type="submit">Save</button>
		</form>
     </div>
	</body>
</html>