<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head('User')"></head>
  <body>
    <nav th:replace="fragments.html :: navbar"></nav>
     
    <h1 th:replace="fragments :: title(page_title=${user.username})" />
     
    <div class="container">
     	<div class="btn-group">	
	     	<a class="btn btn-primary" th:href="@{{id}/edit(id=${user.username})}">Edit</a>
		    <a class="btn btn-primary" th:href="@{{id}/delete(id=${user.username})}">Delete</a>
		</div>
	</div>
	 
	 <div class="container">
	    <form method="post" th:action="@{~/admin/user/{id}/update(id=${user.username})}" th:object="${user}">
	            
		    <table class="table">
		    	<tr>
		    		<th scope="row">username</th>
		    		<td th:text="${user.username}" />
		    	</tr>
		    	<tr>
		     		<th scope="row">password</th>
		     		<td th:text="${user.password}"></td>
		     	</tr>
		     	<tr>
		     		<th scope="row">enabled</th>
		     		<td th:text="${user.enabled}"></td>
		     	</tr>
		     </table>
	     
	     </form>
     </div>
	</body>
</html>